@use 'reset' as *;

.pageheader {
	position: relative;
	padding: 200px 0 100px;
	background: url(../img/bg/03.jpg) no-repeat center center / cover;
	position: relative;
	isolation: isolate;
	z-index: 1;
	&::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(lighten($c1, 45%), .7);
		z-index: -1;
	}
	
	h1 {
		font-size: 45px;
		font-weight: 900;
		border-left: 10px solid $c1;
		padding: 10px 0 10px 15px;
		background: rgb(255,255,255);
		background: -moz-linear-gradient(207deg, rgba(255,255,255,0) 53%, rgba(255,227,208,1) 100%);
		background: -webkit-linear-gradient(207deg, rgba(255,255,255,0) 53%, rgba(255,227,208,1) 100%);
		background: linear-gradient(207deg, rgba(255,255,255,0) 53%, rgba(255,227,208,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffe3d0",GradientType=1);
		border-radius: 8px 8px 8px 0;
	}
	
	p {
		font-size: 18px;
		color: #fff;
		background: $c1;
		font-weight: 600;
		border-radius: 0 0 8px 8px;
		display: inline-block;
		padding: 5px 20px;
	}
}

.card-category-info {
	margin-top: 32px;
	padding: 0 15px;
	h3 {
		font-size: 26px;
		font-weight: 700;
		margin-bottom: 20px;
		color: $c1;
	}
	p {
		font-size: 16px;
		line-height: 26px;
		font-weight: 400;
		max-width: 100%;
		color: $c2;
		@media(min-width: 1200px) {
			width: 60%;
		}
		@media(min-width: 1400px) {
			width: 40%;
		}
	}
}

.greet-card {
	margin: 25px 0;
	figure {
		position: relative;
		padding: 15px;
		border-radius: 8px;
		box-shadow: 0 0 0 3px lighten($c2, 15%), 8px 8px 0 lighten($c2, 15%);
		transition: all .3s ease;
		&:not(.upload-image)>a {
			display: inline-block;
			position: relative;
			&::before {
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				border-radius: 8px;
				top: 0;
				left: 0;
				background: rgba(0,0,0,.5);
				backdrop-filter: blur(5px);
				visibility: hidden;
				opacity: 0;
				transition: all .3s ease .2s;
			}
		}
		&:not(.upload-image):hover {
			box-shadow: 0 0 0 3px $c2, 8px 8px 0 $c2;
			&>a::before {
				visibility: visible;
				opacity: 1;
				transition: all .3s ease 0s;
			}
		}
		&:not(.upload-image)::before,
		&:not(.upload-image)::after {
			position: absolute;
			content: '';
			top: 40%;
			left: 50%;
			background: #fff;
			transition: all .3s ease 0s;
			z-index: 3;
		}
		&:not(.upload-image)::before {
			transform: translate(-60%, -50%);
			width: 0;
			height: 2px;
		}
		&:not(.upload-image)::after {
			transform: translate(-50%, -60%);
			width: 2px;
			height: 0;
		}
		&:not(.upload-image):hover::before,
		&:not(.upload-image):hover::after {
			transition: all .3s ease .2s;
			transform: translate(-50%, -50%);
		}
		&:not(.upload-image):hover::before {width: 50px}
		&:not(.upload-image):hover::after {height: 50px}
		
		img {
			aspect-ratio: 1.83/1;
			// aspect-ratio: 1/1.50;
			// object-position: center;
			object-fit: cover;
			border-radius: 8px;
			transition: all .3s ease;
		}
		
		&>span {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 10px;
			a {
				display: inline-block;
				padding: 7px 20px 5px;
				border-radius: 4px;
				font-size: 14px;
				font-weight: 600;
				color: #fff;
				background: $c1;
				i {
					margin-left: 5px;
				}
			}
			.fav {
				-webkit-text-stroke: 3px $c1;
				-webkit-text-fill-color: transparent;
				font-size: 26px;
				transition: all .2s ease;
				cursor: pointer;
				position: relative;
				span {
					-webkit-text-fill-color: initial;
					-webkit-text-stroke: initial;
					position: absolute;
					white-space: nowrap;
					padding: 5px 6px 4px;
					border-radius: 3px;
					font-weight: 600;
					font-size: 11px;
					color: #fff;
					font-family: $font-1;
					background: #333;
					box-shadow: 0 0 5px rgba(0,0,0,.09);
					top: 0;
					left: 50%;
					transform: translate(-50%, -100%);
					opacity: 0;
					visibility: hidden;
					transition: all .2s ease;
				}
				
				&:hover {
					span {
						transform: translate(-50%, calc(-100% - 10px));
						visibility: visible;
						opacity: 1;
						&::before {
							position: absolute;
							content: '';
							border-top: 6px solid #333;
							border-left: 6px solid transparent;
							border-right: 6px solid transparent;
							left: 50%;
							top: 100%;
							transform: translateX(-50%);
						}
					}
				}
			}
			
			.faved {
				-webkit-text-stroke: 1px $c1;
				-webkit-text-fill-color: $c1;
				&:hover {span {display: none}}
			}
		}
	}
}

.card-view .greet-card figure img {
	aspect-ratio: 1/1.50;
	object-position: center;
	object-fit: cover;
	border-radius: 8px;
	transition: all .3s ease;
}