@use 'reset' as *;

.card-category-info {
	margin-top: 32px;
	padding: 0 15px;
	h3 {
		font-size: 26px;
		font-weight: 700;
		margin-bottom: 20px;
		color: $c1;
	}
	p {
		font-size: 16px;
		line-height: 26px;
		font-weight: 400;
		max-width: 100%;
		color: $c2;
		@media(min-width: 1200px) {
			width: 60%;
		}
		@media(min-width: 1400px) {
			width: 40%;
		}
	}
}
