<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>::.. About || Greeting Cards ..::</title>
    <meta name="theme-color" content="#f6781e">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./assets/img/favicon.png">
    
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <!-- page-wrapper start -->
    <div class="page-wrapper justify-content-center text-center">
        <h1 class="fw-7">About Page</h1>
		<span class="fw-6 text-uppercase pt-4">Coming Soon</span>
    </div>
    <!-- page-wrapper end -->
    <div class="back2Top fa fa-angle-up"></div>
    
</body>
</html>