<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>::.. Log in || Greeting Cards ..::</title>
    <meta name="theme-color" content="#f6781e">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./assets/img/favicon.png">
    
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <!-- page-wrapper start -->
    <div class="page-wrapper auth">
        <form class="login">
            <img src="./assets/img/illustration/01.svg" alt="auth illustrattion" class="auth-img-1">
            <h1>Welcome back!</h1>
            <p class="mt-4">Sign into your account to continue</p>
            <div class="input-single">
                <label>Email Address</label>
                <div class="d-flex">
                    <i class="fa fa-user"></i>
                    <input type="email" placeholder="name@example.com">
                </div>
            </div>
            <div class="input-single">
                <div class="d-flex justify-content-between">
                    <label>Password</label>
                    <a href="forgot-password.html">Forgot Password?</a>
                </div>
                <div class="d-flex justify-content-between">
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="Password">
                </div>
            </div>
            <div class="auth-footer">
                <a href="#" class="theme-btn">Log in</a>
                <p>Don't have an account? <a href="signup.html">Register now</a></p>
            </div>
            
            <img src="./assets/img/illustration/02.svg" alt="auth illustrattion 2" class="auth-img-2">
        </form>
        
    </div>
    <!-- page-wrapper end -->
    <div class="back2Top fa fa-angle-up"></div>
    
</body>
</html>